.footer
  background: #fff
  height: 37px
  border-top: 1px solid #eeeeee
  // position: fixed null 0 0 null
  left: 0 @lg 251px
  z-index: 95
  margin-top: auto

.aside-is-collapsed
  .footer
    left: 0 @md 0 @lg 58px