@import 'inc/var.sss'

@import 'inc/reset.css'
@import 'inc/typo.sss'
@import 'inc/grid.sss'
@import 'inc/btn.sss'
@import 'inc/form.sss'
@import 'inc/layout.sss'
@import 'inc/card.sss'
@import 'inc/breadcrumb.sss'
@import 'inc/ui.sss'
@import 'inc/modal.sss'

@import 'blocks/header.sss'
@import 'blocks/footer.sss'
@import 'blocks/aside.sss'
@import 'blocks/page.sss'

@import 'views/widgets.sss'