.badge
  background: #faab2e
  border-radius: 6px
  text: #fff 10px @sm 11px @md 12px
  min-width: 18px @md 22px
  height: 18px @md 21px
  box: center middle
  padding: * 4px @md * 5px
  position: absolute
  z-index: 9
  transform: translate(90%, -70%)