.breadcrumb
  box: center wrap

  &__item
    text: #999 13px
    cursor: default

    &:not(:last-child):after
      content: '/'
      display: inline-block
      margin: 0 .5rem

    &:last-child
      pointer-events: none

  &__link
    text-decoration: none
    color: #999

    .svg-icon
      display: inline-block

    &:hover
      opacity: .8
