mixin pageInfo()
  section.page-info
    .page-info__title Виджеты

    .breadcrumb
      .breadcrumb__item
        a.breadcrumb__link(href="#!")
          include ../../img/icons/dashboard.svg
      .breadcrumb__item
        a.breadcrumb__link(href="#!") Selo.Магазин
      .breadcrumb__item Виджеты