.cards-spacer
  .card.tab__content
    .card__content
      form.form(method="get" action="#")
        .form__title Izmenenie adresa pochti (login)
        .info.info--small
          +svg-icon("attention", "color-warning")
          .text-content.text-content--small
            p Обратите внимание, что адрес, указанный здесь, используется:
            ol
              li Как логин для входа в кабинет.
              li Для получения писем и заказов от посетителей сайта (если в управлении подпиской не выбран другой пользователь).
            p Текущий адрес электронной почты: <b>alex@selo.ru</b>
            p Вы получите письмо подтверждения изменений по новому указанному вами адресу. Перейдите по ссылке в письме, чтобы завершить процедуру смены e-mail.  Проверьте вашу новую электронную почту.
        .input.input--required.input--row
          label.input__label(for="email") Новый адрес
          input.input__elem(type="text" name="email" id="email" placeholder="user@gmail.com")
        .input.input--required.input--row
          label.input__label(for="password") Пароль
          input.input__elem(type="password" name="password" id="password")
        .form__spacer
          button.btn(type="submit") Сохранить

  .card.tab__content
    .card__content
      form.form(method="get" action="#")
        .form__title Отображение адреса электронной почты

        .form__spacer
          .input
            .input__label
            input.input__checkbox(type="checkbox" name="email-show-2" id="email-show-2")
            label.input__checkbox-label(for="email-show-2") Отображать e-mail адрес в контактной информации на сайте
          .info.info--small
            +svg-icon("attention", "color-warning")
            .text-content.text-content--small
              p Обратите внимание! После установки галочки e-mail будет «открыто» написан на сайте, и он наверняка попадете в базу адресов тех, кто осуществляет массовые рассылки (спам).
          button.btn(type="submit") Сохранить

  .card.tab__content
    .card__content
      form.form(method="get" action="#")
        .form__title Изменения пароля
        .input.input--required.input--row.input--error
          label.input__label(for="password1") Текущий пароль
          input.input__elem(type="password" name="password1" id="password1")
          .input__error Введён неверный текущий пароль
        .input.input--required.input--row
          label.input__label(for="password2") Новый пароль
          input.input__elem(type="password" name="password2" id="password2")
          .input__error Введён неверный новый пароль
        .input.input--required.input--row
          label.input__label(for="password3") Повтор нового пароля
          input.input__elem(type="password" name="password3" id="password3")
        .form__spacer
          button.btn(type="submit") Сохранить

