extends layouts/layout.pug

block header
  +header()

block title
  title Виджеты

block content
  +pageInfo

  .container
    .page-desc
      .page-desc__wrapper
        .page-desc__title Виджеты
        .page-desc__text Интеграции со сторонними сервисами — платежными системами, службами доставки, CRM и т.д. Приложения расширяют возможности вашего интернет магазина

      .page-desc__img
        img.page-desc__img-elem(src="img/icons/widgets.svg" alt="widgets")

    .card
      .card__content
        .widgets__list
          menu.widgets__list-menu.col-menu
            each item, i in widgetsCategories
              button.col-menu__item.btn--pseudo(class=[i === 0 ? 'active' : ''])= item

          section.widgets__list-wrapper
            each i in [1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17]
              article.widgets__item(onclick="showModal('widget')")
                .widgets__item-status
                  if (i % 4 === 0 || i === 5)
                    .widgets__item-status-connect

                  if (i % 4 === 2 || i === 5)
                    .widgets__item-status-pro

                img.widgets__item-img(src="img/demo/logos/"+i+".png" alt="widget")
                if (i === 4 || i === 14)
                  .widgets__item-text Приложения расширяют возможности магазина
                else if (i === 7)
                  .widgets__item-text Виджет
                else
                  .widgets__item-text Прием онлайн-платежей

  include blocks/modal-widget.pug
